body {
  margin: 0;
  font-size: 16px;
  background: url("valley.jpg") no-repeat center center fixed;
  background-color: #cccccc;
  height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
}
h1,
h3 {
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
a:hover,
a:focus {
  border-bottom: 4px solid rgb(63, 59, 59);
  color: rgb(63, 59, 59);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
#silas-image {
  width: 80%;
  border: 4px solid black;
  border-radius: 50%;
  margin: 1rem 2rem 0.5rem 2rem;
}
.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.name-decoration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title-decoration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.decoration {
  width: 15%;
  border-bottom: 4px solid black;
}

.decoration-small {
  width: 10%;
  border-bottom: 4px solid black;
}
.decoration-full {
  visibility: hidden;
}
.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link {
  padding: 0.4rem 0 0.4rem 0;
}
.about {
  width: 80%;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.bottom {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 80%;
  height: 20%;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  flex: 1;
  font-size: 3rem;
  text-align: center;
}

/*   **********475**********  */

/* @media (min-width: 475px) {
  #silas-image {
    margin-top: 4rem;
    width: 50%;
    border: 4px solid black;
        border-radius: 50%;
        margin: 1rem 2rem 0.5rem 2rem;
  }
  .image-container {
    width: 100;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .decoration {
    display: none;
  }
  .link {
    padding: 0;
  }
} */

/*   **********800px**********  */

@media (min-width: 750px) {
  .container {
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 15vh;
  }
  .link {
    padding: 0 1rem;
  }
  .image-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
    height: 30vh;
  }
  .name-container {
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
  }
  #silas-image {
    width: 25%;
    margin: 0;
  }
  .decoration {
    display: none;
  }
  .decoration-full {
    width: 100%;
    border-bottom: 4px solid black;
    visibility: visible;
  }

  .title-decoration-container {
    visibility: hidden;
  }
  .col-2 {
    width: 2%;
  }
  .col-20 {
    width: 20%;
  }
  .col-25 {
    width: 25%;
  }
  .col-35 {
    width: 35%;
  }
  .bottom {
    height: 55vh;
  }

  .icons {
    width: 50%;
    height: 50%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    flex: 1;
    font-size: 3rem;
    text-align: center;
    color: white;
  }
}
